<div class="task-form__container">
  <h1 class="task-form__title">{{ taskToEdit ? 'Editar Tarea' : 'Crear Tarea' }}</h1>
  <form class="task-form__form" [formGroup]="taskForm" (ngSubmit)="saveTask()">

 
    <div class="task-form__group">
      <label for="name" class="task-form__label">Nombre de la Tarea</label>
      <div class="task-form__input-group">
        <span class="task-form__icon">
          <i class="fas fa-tasks"></i>
        </span>
        <input id="name" class="task-form__input" formControlName="name" placeholder="Ingrese el nombre de la tarea" />
      </div>
      <div *ngIf="taskForm.get('name')?.invalid && taskForm.get('name')?.touched" class="task-form__error">
        <div *ngIf="taskForm.get('name')?.errors?.['required']">El nombre de la tarea es requerido.</div>
        <div *ngIf="taskForm.get('name')?.errors?.['minlength']">El nombre de la tarea debe tener al menos 3 caracteres.</div>
      </div>
    </div>

    <div class="task-form__group">
      <label for="deadline" class="task-form__label">Fecha Límite</label>
      <div class="task-form__input-group">
        <span class="task-form__icon">
          <i class="fas fa-calendar-alt"></i>
        </span>
        <input type="date" id="deadline" class="task-form__input" formControlName="deadline" [min]="today" placeholder="mm/dd/yyyy" />
      </div>
      <div *ngIf="taskForm.get('deadline')?.invalid && taskForm.get('deadline')?.touched" class="task-form__error">
        <div *ngIf="taskForm.get('deadline')?.errors?.['required']">La fecha límite es requerida.</div>
      </div>
    </div>


    <div class="task-form__group" formArrayName="persons" *ngIf="persons.length > 0">
      <h2 class="task-form__subtitle">Personas</h2>
      <ul class="task-form__list">
        <li *ngFor="let person of persons.controls; let i = index" class="task-form__list-item">
          <div *ngIf="person.get('isEditing')?.value" [formGroupName]="i">
            <app-person-form 
              [personForm]="getPersonForm(i)" 
              [isNameDuplicate]="isNameDuplicate(i)" 
              (cancel)="removePerson(i)"
              (save)="onSavePerson(i)">
            </app-person-form>
          </div>
          <div *ngIf="!person.get('isEditing')?.value">
            <strong>{{ person.get('fullName')?.value }}</strong> ({{ person.get('age')?.value }} años)
            <ul>
              <li *ngFor="let skill of getSkills(i).controls">{{ skill.value }}</li>
            </ul>
            <button type="button" class="task-form__button task-form__button--edit" (click)="editPerson(i)">Editar</button>
            <button type="button" class="task-form__button task-form__button--remove" (click)="removePerson(i)">Eliminar</button>
          </div>
        </li>
      </ul>
    </div>


    <div class="task-form__actions">
      <button type="button" *ngIf="!isAddingPerson" class="task-form__button task-form__button--add" (click)="addPerson()">Agregar Persona</button>
      <div class="task-form__buttons">
        <button type="submit" class="task-form__button task-form__button--submit">Guardar Tarea</button>
        <button type="button" class="task-form__button task-form__button--cancel" (click)="cancel()">Cancelar</button>
        <button *ngIf="taskToEdit" type="button" (click)="markTaskAsCompleted()" class="task-form__button task-form__button--complete">
          Completar Tarea
        </button>
      </div>
    </div>
  </form>
</div>