<div class="task-form__container">
  <h1>Edit Task</h1>
  <form [formGroup]="taskForm" (ngSubmit)="saveTask()">

    <div>
      <label for="name">Task Name</label>
      <input id="name" formControlName="name" />
      <div *ngIf="taskForm.get('name')?.invalid && taskForm.get('name')?.touched" class="error">
        <div *ngIf="taskForm.get('name')?.errors?.['required']">Task Name is required.</div>
        <div *ngIf="taskForm.get('name')?.errors?.['minlength']">Task Name must be at least 3 characters.</div>
      </div>
    </div>

    <div>
      <label for="deadline">Deadline</label>
      <input type="date" id="deadline" formControlName="deadline" [min]="today" />
      <div *ngIf="taskForm.get('deadline')?.invalid && taskForm.get('deadline')?.touched" class="error">
        <div *ngIf="taskForm.get('deadline')?.errors?.['required']">Deadline is required.</div>
      </div>
    </div>

    <div formArrayName="people">
      <h2>People</h2>
      <ul class="task-form__list">
        <li *ngFor="let person of people.controls; let i = index">
          <div *ngIf="person.get('isEditing')?.value" [formGroupName]="i">
            <app-person-form 
              [personForm]="getPersonForm(i)" 
              [isNameDuplicate]="isNameDuplicate(i)" 
              (cancel)="cancelEditPerson(i)"
              (save)="onSavePerson(i)">
            </app-person-form>
          </div>
          
          <div *ngIf="!person.get('isEditing')?.value">
            <strong>{{ person.get('fullName')?.value }}</strong> ({{ person.get('age')?.value }} years old)
            <ul>
              <li *ngFor="let skill of getSkills(i).controls">{{ skill.value }}</li>
            </ul>
            <button type="button" class="task-form__button task-form__button--edit" (click)="editPerson(i)">Edit</button>
            <button type="button" class="task-form__button task-form__button--remove" (click)="removePerson(i)">Delete</button>
          </div>
        </li>
      </ul>
    </div>

    <button type="button" (click)="addPerson()">Add Person</button>
    <button type="submit">Save Task</button>
    <button type="button" (click)="markTaskAsCompleted()" class="complete-task-btn">Complete Task</button>
  </form>
</div>
