.person-form {
  padding: 1.25rem;
  background-color: var(--background-color);
  border-radius: 0.625rem;
  box-shadow: 0.3125rem 0.4375rem 0.3125rem #ebebeb;
}

.person-form__group {
  display: flex;
  flex-direction: column;
  gap: 0.3125rem;
  margin-bottom: 0.9375rem;
}

.person-form__label {
  color: var(--primary-color);
  font-size: 0.875rem;
  font-weight: bold;
}

.person-form__input {
  padding: 0.625rem;
  font-size: 1rem;
  border: 1px solid #ced4da;
  border-radius: 0.5rem;
  outline: none;
}

.person-form__input--duplicate-error {
  border-color: #ff4d4f;
}

.person-form__error {
  color: #ff4d4f;
  font-size: 0.875rem;
}

.person-form__skills-section {
  margin-bottom: 1.25rem;
}

.person-form__group--skills {
  margin-bottom: 0.625rem;
}

.person-form__skill {
  display: flex;
  align-items: center;
  gap: 0.3125rem;
  margin-bottom: 0.625rem;
}

.person-form__img-remove {
  width: 24px; /* Ajusta el tamaño según sea necesario */
  height: 24px;
  cursor: pointer;
  transition: opacity 0.3s ease;
  align-self: center;
}

.person-form__img-remove:hover {
  opacity: 0.7;
}

.person-form__button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease, opacity 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 100px; /* Asegura un ancho mínimo consistente para los botones */
}

.person-form__button--add {
  background-color: transparent;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
}

.person-form__button--save {
  background-color: var(--primary-color);
  color: #ffffff;
}

.person-form__button--cancel {
  background-color: transparent;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
}

.person-form__button:hover {
  opacity: 0.8;
}

.person-form__actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  padding-bottom: 0.9375rem;
}

.person-form__add-skill {
  align-self: flex-end;
  margin-bottom: 10px; /* Ajusta el espaciado según necesites */
}

@media (min-width: var(--breakpoint-md)) {
  .person-form__group {
    flex-direction: row;
    align-items: center;
    gap: 0.9375rem;
  }

  .person-form__label {
    width: 20%;
    font-size: 1rem;
  }

  .person-form__input {
    width: 80%;
  }

  .person-form__skill {
    gap: 0.9375rem;
  }

  .person-form__img-remove {
    margin-left: 0.9375rem;
  }

  .person-form__actions {
    justify-content: flex-end;
  }
}

@media (min-width: var(--breakpoint-lg)) {
  .person-form {
    padding: 1.875rem;
    max-width: 1200px;
    margin: 0 auto;
  }

  .person-form__button {
    font-size: 1rem;
  }
}

/* Variables de color */
:root {
  --primary-color: #6a0dad;
  --danger-color: #ff4d4f;
  --background-color: #ffffff;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
}
