.person-form {
  padding: 1.25rem;
  background-color: var(--background-color);
  border-radius: 0.625rem;
  box-shadow: 0.3125rem 0.4375rem 0.3125rem #ebebeb;
  max-width: 100%;
}

.person-form__group {
  display: flex;
  flex-direction: column;
  gap: 0.3125rem;
  margin-bottom: 0.9375rem;
  width: 100%;
}

.person-form__label {
  color: var(--primary-color);
  font-size: 0.875rem;
  font-weight: bold;
}

.person-form__input {
  padding: 0.625rem;
  font-size: 1rem;
  border: 1px solid #ced4da;
  border-radius: 0.5rem;
  outline: none;
  width: 100%;
  box-sizing: border-box;
}

.person-form__input--duplicate-error {
  border-color: #ff4d4f;
}

.person-form__error {
  color: #ff4d4f;
  font-size: 0.875rem;
}

.person-form__skills-section {
  margin-bottom: 1.25rem;
}

.person-form__group--skills {
  margin-bottom: 0.625rem;
}

.person-form__skill {
  display: flex;
  align-items: center;
  gap: 0.3125rem;
  margin-bottom: 0.625rem;
  flex-wrap: wrap; /* Asegura que el contenido no se desborde */
  width: 100%;
}

.person-form__img-remove {
  width: 20px;
  height: 20px;
  cursor: pointer;
  transition: opacity 0.3s ease;
  align-self: center;
}

.person-form__img-remove:hover {
  opacity: 0.7;
}

.person-form__button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease, opacity 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 100px;
  max-width: 100%; /* Evita que los botones se desborden */
  box-sizing: border-box;
}

.person-form__button--add {
  background-color: transparent;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  width: 100%; /* Asegura que el bot贸n se mantenga dentro del contenedor */
}

.person-form__button--save {
  background-color: var(--primary-color);
  color: #ffffff;
}

.person-form__button--cancel {
  background-color: transparent;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
}

.person-form__button:hover {
  opacity: 0.8;
}

.person-form__actions {
  display: flex;
  justify-content: end;
  gap: 10px;
  padding-bottom: 0.9375rem;
  flex-wrap: wrap; /* Asegura que los botones no se desborden */
}

.person-form__add-skill {
  align-self: flex-end;
  margin-bottom: 10px;
  width: 100%; /* Asegura que el bot贸n se mantenga dentro del contenedor */
}

@media (min-width: 768px) {
  .person-form__add-skill {
    width: auto; /* Ajusta el ancho para escritorio */
    align-self: flex-start; /* Mueve el bot贸n a la izquierda */
  }

  .person-form__button--add {
    width: auto; /* Asegura que el bot贸n no ocupe todo el ancho en escritorio */
  }
}

@media (min-width: 992px) {
  .person-form {
    padding: 1.875rem;
    max-width: 1200px;
    margin: 0 auto;
  }

  .person-form__button {
    font-size: 1rem;
  }
}

/* Variables de color */
:root {
  --primary-color: #6a0dad;
  --danger-color: #ff4d4f;
  --background-color: #ffffff;
}
